{% extends 'base.html' %}
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">

{% block titulo %} Registrar Nuevo Usuario {% endblock %}

{% block contenido %} 
{% comment %} <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"> {% endcomment %}
<div class="card">
    <div class="card-header">
       <center> Ficha para registrar un nuevo usuario administrativo</center>
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del Usuario</h4>
        
        {% include 'usuarios/formUsuarios.html' %}

    </div>
    <div class="card-footer text-muted">
        Registar Usuarios en MedicDental v.1.0
    </div>
</div>

{% endblock %}