<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
{% extends 'base.html' %}


{% block titulo %} Modificar Informacion del Paciente {% endblock %}

{% block contenido %} 


<div class="card">
    <div class="card-header">
       <center><b><h2> Ficha para modificar información del paciente</b></center>
    </div>
    <div class="card-body">
        <h4 class="card-title">Datos del Paciente</h4>
        
        {% include 'pacientes/form.html' %}

    </div>
    <div class="card-footer text-muted">
        Modicar Pacientes MedicDental v.1.0
    </div>
</div>

{% endblock %}