{% extends 'base.html' %}

{% block titulo %} Historia clinica {% endblock %}
{% block subtitulo %} Lista de Historias Clinicas {% endblock %}
{% block contenido %} 
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
<div class = "container mx-0">
    <form class = "form-inline my-2 my-lg-0 mr-4" action ="{% url 'buscarH' %}">
        <br>
        <input class = "form-control mr-sm-2 col-lg-6" name="buscarHistoria" type="search" placeholder="Buscar Paciente por su Nombre..." aria-label="Buscar Historia por Nombre del Paciente">
        <button class = "btn btn-primary my-2 my-sm-0" type="submit" >Buscar</button>
    </form>
</div>
<br>

<div class="card">
    <div class="card-header" >
        <a name="" id="" class="btn btn-success" href="{% url 'registrarH' %}" role="button"><i class="fa-solid fa-user-plus"></i> Registrar Nueva Historia Clinica</a>
    </div>
    
    <div class="card-body-resposive">
    </br>
        <h4 class="card-title">Lista de Historias Clínicas</h4>
            <table class="table table-primary" width=30>
                <thead>
                    <tr>
                        <th>Nº HC</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Cédula</th>
                        <th>Motivo</th>
                        <th>HISTORIA</th>
                        <th><center>Acciones</th>
                        

                    </tr>
                </thead>
                <tbody>
                    {% for historia in historias %}
                    <tr class="">
                        <td>{{ historia.id }}</td>
                        <td>{{ historia.paciente.nombres }}</td>
                        <td>{{ historia.paciente.apellidos }}</td>
                        <td>{{ historia.paciente.cedula }}</td>>
                        <td>{{ historia.motivoConsulta }}</td>>
                        <td>{{ historia.enfermedad.id }}</td>>
                        <td>
                            {% comment %} <a name="" id="" class="btn btn-warning" href="{% url 'modificar' paciente.id %}" role="button"><i class="fa-solid fa-pencil"></i> Modificar</a> 
                            |
                            <a name="" id="" class="btn btn-danger" href="{% url 'eliminar' paciente.id %}" role="button"><i class="fa-solid fa-trash"></i> Eliminar</a> {% endcomment %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        
        
    </div>
    <div class="card-footer text-muted">
       Lista de Historias Clínicas de MedicDental v.1.0
    </div>
</div> 

{% endblock %}