{% extends 'base.html' %}
{% block titulo %}Lista de Citas{% endblock %}
{% block subtitulo %}Lista de Citas{% endblock %}

{% block contenido%}
<div class = "  container mx-0 nav-item active">
  <form class = "form-inline my-2 my-lg-0 mr-xl-1" action ="{% url 'buscarC' %}">
      <br>
      <input class = "form-control mr-sm-2 col-lg-6" name="buscarCita" type="search" placeholder="Buscar Paciente por su Nombre..." aria-label="Buscar Paciente por su Nombre...">
      <button class = "btn btn-primary my-2 my-sm-0" type="submit" >Buscar</button>
  </form>
</div>
<br>

<br>

  <p class="lead">{{ citas|length }} Citas Pendientes</p><br>
  <a href="{% url 'registrarCita' %}" class="btn btn-success ">Agendar Nueva Cita</a>
<hr>
<!--formulario que llama a la vista list con un metodo post-->
<form class="form-inline" action="{% url 'list' %}" method="post" style="margin-bottom: 20px; padding-left: 60%;">
  <!--token que protege del ataque cross fire un ataque popular en los formularios-->
  {% csrf_token %}

  <input type="date" class="form-control col-md-5" value="{{form.data.date|date:'Y-m-d'}}" name="date" placeholder="Date rendez-vous" id="date">
  <select class="form-control col-md-5" name="patient" id="patient" style="margin-left: 10px;">
      <option value="">Todos los pacientes</option>
      {% for p in form.fields.patient.queryset %}
    <option value="{{p.id}}"{% if p == form.data.patient  %} selected="selected" {% endif%}>{{p}}</option>
      {% endfor %}
  </select>
  <button type="submit" class="btn btn-outline-info" id="modifier2" style="margin-left: 10px;"><i class="fa fa-search"></i></button>
  </form>

<table class="table">
  <thead>
    <tr class="table-primary">
      <th scope="col">#</th>
      <th scope="col">Fecha</th>
      <th scope="col">Hora</th>
      <th scope="col">Paciente</th>
      <th scope="col">Descripcion</th>
    </tr>
  </thead>
  <tbody>
    {% for cita in citas %}
  <tr onclick="location.href='/citas/modif/{{cita.id}}'" class="lien", style="cursor: pointer;">
      <th scope="row">{{forloop.counter}}</th>
      <td>{{ cita.date|date:'d-m-Y' }}</td>
      <td>{{ cita.heure|time:'H:i' }}</td>
      <td>{{ cita.patient }}</td>
      <td>{{ cita.objet }}</td>
    </tr>
     
    {% endfor %}
  </tbody>
</table>

{% endblock %}

