{% extends 'base.html' %} {% block titulo %}Nueva Cita{% endblock %} {% block subtitulo %}Agendamiento de Nueva Cita{% endblock %} {% block contenido%}
<form class="form-inline" action="{% url 'registrarCita' %}" method="post">
	{% csrf_token %}

	<div class="container text-center">
		<div class="row justify-content-evenly">
			<div class="col-md-5">
				<br>
				<span class="col-auto">Elección del paciente</span>
			</div>
			<div class="col-md-5">
				<br>
				<span class="col-auto">Elija la fecha de la cita</span>
			</div>
			{% comment %}
			<div class="col">
				One of three columns
			</div> {% endcomment %}
		</div>
	</div> <br>

	<div class="container text-center">
		<div class="row justify-content-evenly">
			<div class="col-md-5">
				<select class="form-control col-md-auto" name="patient" id="patient" style="margin-top:20px;" required>
            <option value="" disabled selected>Seleccione el Paciente ...</option>
            {% for p in form.fields.patient.queryset %}
          <option value="{{p.id}}"{% if p == form.data.patient  %} selected="selected" {% endif%}>{{p}}</option>
            {% endfor %}
          </select>
			</div>
			<div class="col-md-5">
				<input style="margin-top:20px;" type="date" min="2023-02-22" class="form-control col-md-auto" value="{{form.data.date}}" name="date" placeholder="Dia de la Cita" id="date" required>
			</div>
			{% comment %}
			<div class="col">

			</div> {% endcomment %}
		</div>
	</div>

	<div class="container text-center">
		<div class="row justify-content-evenly">
			<div class="col-md-5">
				<br>
				<span class="col-auto">Elja la hora de la consulta</span>
			</div>
			<div class="col-md-5">
				<br>
				<span class="col-auto">Motivo de la consulta</span>
			</div>
			{% comment %}
			<div class="col">
				One of three columns
			</div> {% endcomment %}
		</div>
	</div> <br> {% comment %} segunda fila para citas {% endcomment %}
	<div class="container text-center">
		<div class="row justify-content-evenly">
			<div class="col-md-5">
				<input style="margin-top:20px;" type="time" min="09:00" max="18:00" class="form-control col-md-3" value="{{form.data.heure}}" name="heure" placeholder="Hora de la cita" id="heure" required>
			</div>
			<div class="col-md-5">
				<input type="text" class="form-control col-md-auto" value="{{form.data.objet}}" placeholder="Motivo de la Cita" name="objet" id="objet" style="margin-top:30px;" maxlength="100" minlength="1">
			</div>
			{% comment %}
			<div class="col">

			</div> {% endcomment %}
		</div>
	</div>


	</div>

	<center><button type="submit" class="btn btn-success float-center" style="margin-top:20px;" id="modifier2">Guardar</button></center>
</form>
{% endblock %}