{% extends 'base.html' %}
 
{% block titulo %} Inicio {% endblock %}
{% block subtitulo %} Bienvenido {{user.username | upper}} {% endblock %}
     
{% block contenido %} 
<br> 
<div class="container-fluid resposive row resposive col-md-10 offset-md-1 resposive titlepage">
   <center> <div class="col-md-10">
    
    <div class="h-50 pt-2 text-black bg-white border rounded-5">
            <h2>Renovar tu sonrisa, ¡ Tu mejor elección !</h2>

               <center>  <img class = "border rounded-5" src="static/logo.jpg" width="500" height="500" ></center>

            
        </div>
    </div>

    <div class="col-md-10">
        <div class="row">
            <div class="col-md-12">
                
        <div
            class="h-100 p-5 bg-white border rounded-3">
            <h2>Bienvenido a Medic Dental v.1.0</h2>
            <p>Aplicación Web para la Gestión de información de Pacientes y Agendamiento de Citas Médicas.</p>

        </div>
    </div>
</center>
</div> 
{% endblock %}