{% extends 'base.html' %}
 
{% block titulo %} Inicio {% endblock %}
{% block subtitulo %} Bienvenido {{user.username | lower}} {% endblock %}
     
{% block contenido %} 
<br> 
<center><div class="">
    <div class="container-fluid resposive">
       <div class="row resposive">
          <div class="col-md-12 offset-md-12 resposive">
             <div class="titlepage">
               {% comment %} <div class="row align-items-md-stretch"> {% endcomment %}
                   <center> <div class="col-md-12">
                        <div class="h-50 pt-2 text-black bg-white border rounded">
                            <h2>¡ Los mejores profesionales !</h2><br>
                               <center>  <img class = " rounded-5" src="static/logo.jpg" height="500" width="500" ></center>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                
                        <div
                            class="h-100 pt-3 pb-0 bg-white  rounded-3">
                            <h2>Bienvenido a Medic Dental v.1.0</h2>
                            <p>Aplicación Web para la Gestión de información de Pacientes y Agendamiento de Citas Médicas.</p>
                
                        </div>
                    </div>
                </center>
                </div> 
             </div>
          </div>
       </div>
    </div>
 </div></center>

{% endblock %}