{% extends 'base.html' %}

{% block titulo %} Inicio {% endblock %}
{% block subtitulo %} Inicio {% endblock %}

{% block contenido %} 

<div class="row align-items-md-stretch">
   <center> <div class="col-md-8">
        <div
            class="h-100 p-5 text-black bg-white border rounded-3">
            <h2>Renovar tu sonrisa, ¡ Tu mejor elección !</h2>

               <center>  <img src="static/logo.jpg" height="300" ></center>

            
        </div>
    </div>


    

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                
        <div
            class="h-100 p-5 bg-white border rounded-3">
            <h2>Bienvenido a Medic Dental v.1.0</h2>
            <p>Aplicación Web para la Gestión de información de Pacientes y Agendamiento de Citas Médicas.</p>

        </div>
    </div>
</center>
</div> 


{% endblock %}